<template>
  <div>
    <div id="player">
      <div
        ref="mapviewer"
        :class="fullscreen?'map-viewer fullscreen':'map-viewer'"
      >
        <div id="cross" />
      </div>
    </div>
    <b-field
      grouped
      group-multiline
    >
      <b-field label="Time">
        <input
          ref="scrubber"
          v-model="currentTick"
          class="slider is-success has-background-dark"
          step="1"
          min="0"
          :max="maxTick"
          value="50"
          type="range"
          @mouseup="onScrubMouseUp"
          @mousedown="onScrubMouseDown"
        >
      </b-field>

      <b-field :label="'Playback Rate - '+speedRates[speedIndex]">
        <input
          ref="playbackRateScrubber"
          v-model="speedIndex"
          class="speed-slider slider is-info column is-2"
          step="1"
          min="0"
          :max="speedRates.length-1"
          type="range"
        >
      </b-field>
    </b-field>
    <div class="columns">
      <div
        id="controlBar"
        class="column"
      >
        <div class="buttons has-addons is-right">
          <button
            class="button"
            @click="fullscreen=!fullscreen"
          >
            <b-icon icon="compress" />
          </button>
          <button
            class="button"
            @click="togglePlay"
          >
            <b-icon :icon="isPlaying?'pause':'play'" />
          </button>
          <button
            class="button"
            :class="showPath?'is-success':''"
            @click="togglePath"
          >
            Toggle Route
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Plyr from 'plyr';

export default Vue.extend({
  props: {
    replayId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      maxTick: 1,
      currentTick: 1,
      tickRate: -1,
      isPlaying: false,
      speedIndex: 5,
      speedRates: [-5, -1, 0.1, 0.25, 1, 2, 5, 10],
      viewer: {} as any,
      showPath: false,
      fullscreen: false,
      player: new Plyr('#player')
    };
  },
  mounted () {
    this.$nextTick(function () {
      this.loadReplay(this.replayId);
    });
  },
  methods: {
    loadReplay (id: number) {
      // eslint-disable-next-line no-undef
      this.viewer = new Gokz.ReplayViewer(this.$refs
        .mapviewer as HTMLInputElement);
      const viewer = this.viewer;

      (this.$refs.scrubber as HTMLElement).addEventListener('input', (ev) => {
        viewer.tick = this.currentTick;
      });

      (this.$refs.playbackRateScrubber as HTMLElement).addEventListener(
        'input',
        (ev) => {
          viewer.playbackRate = this.speedRates[this.speedIndex];
        }
      );

      viewer.replayLoaded.addListener((replay) => {
        this.maxTick = replay.tickCount;
        this.tickRate = replay.tickRate;
        this.speedIndex = this.speedRates.indexOf(1);
        // const totalSeconds = replay.clampTick(tickData.tick) / replay.tickRate;
        // const minutes = Math.floor(totalSeconds / 60);
        // const seconds = totalSeconds - minutes * 60;
        // const secondsString = seconds.toFixed(1);
        // this.timeElem.innerText = `${minutes}:${secondsString.indexOf(".") === 1 ? "0" : ""}${secondsString}`;
      });
      viewer.tickChanged.addListener((tickData) => {
        this.currentTick = tickData.tick;
      });

      viewer.messageEvent.addListener((message) => {
        console.log('[LOG] ' + message);
      });

      viewer.playbackRateChanged.addListener((rate) => {
        this.speedIndex = this.speedRates.indexOf(rate);
      });

      viewer.isPlayingChanged.addListener((isPlaying) => {
        this.isPlaying = isPlaying;
      });

      // TODO: RE-EXPORT MAP ARTIFACTS
      viewer.mapBaseUrl =
        '//static.ruto.sh/resources/maps';
      viewer.isPlaying = true;
      viewer.showDebugPanel = false;
      const replayUrl = '//ruto.sh/api/pixel/replay/' + id;
      console.log(replayUrl);
      viewer.loadReplay(replayUrl);
      viewer.animate();
    },
    onScrubMouseUp () {
      if (!this.viewer) {
        return;
      }
      this.viewer.updateTickHash();
      this.viewer.isScrubbing = false;
    },
    onScrubMouseDown () {
      if (!this.viewer) {
        return;
      }
      this.viewer.isScrubbing = true;
    },
    togglePlay () {
      if (!this.viewer) {
        return;
      }
      this.viewer.isPlaying = !this.viewer.isPlaying;
    },
    togglePath () {
      if (!this.viewer) {
        return;
      }
      this.showPath = !this.showPath;
      this.viewer.toggleRoute();
    }
  }
});
</script>

<style lang="scss" scoped>
.map-viewer {
  min-height: 600px;
  overflow: hidden;

  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.slider {
  width: 200px;
}

// TODO: FIX CROSSHAIR
#cross {
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 999;
}

#cross:before,
#cross:after {
  content: "";
  position: absolute;
  z-index: 999;
  background: #fff;
}

#cross:before {
  left: 40%;
  width: 20%;
  margin-left: 48%;
  height: 100%;
}

#cross:after {
  top: 50%;
  height: 20%;
  margin-top: -15%;
  width: 100%;
}

#controlBar {
  width: 100%;
}

.fullscreen {
}
</style>
