<template>
  <section class="section">
    <b-field
      grouped
      group-multiline
    >
      <b-field label="Map">
        <b-select
          v-model="map"
          @input="loadRecords"
        >
          <option value="">
            All Maps
          </option>
          <option
            v-for="mapName in maps"
            :key="mapName"
            :value="mapName"
          >
            {{ mapName }}
          </option>
        </b-select>
      </b-field>

      <b-field label="Mode">
        <b-select
          v-model="mode"
          @input="loadRecords"
        >
          <option value="">
            All Modes
          </option>
          <option
            v-for="(title, key) in modes"
            :key="key"
            :value="key"
          >
            {{ title }}
          </option>
        </b-select>
      </b-field>

      <b-field label="Run Type">
        <b-select
          v-model="runtype"
          @input="loadRecords"
        >
          <option value="">
            Both
          </option>
          <option
            v-for="type in runtypes"
            :key="type"
            :value="type"
          >
            {{ type }}
          </option>
        </b-select>
      </b-field>

      <b-field label="SteamID64">
        <b-field>
          <b-input
            v-model="steamid64"
            placeholder="Search..."
            type="search"
          />
          <p class="control">
            <button
              class="button is-primary"
              @click="loadRecords(true)"
            >
              Search
            </button>
          </p>
        </b-field>
      </b-field>
    </b-field>

    <b-table
      ref="recordTable"
      :data="records"
      :loading="loading"
      detailed
      hoverable
      paginated
      backend-pagination
      :total="total"
      :per-page="20"
      @page-change="onPageChanged"
      @details-open="(row, index) => watchReplay(row.id)"
      @click="toggleRow"
    >
      <template slot-scope="props">
        <b-table-column
          field="id"
          label="ID"
        >
          {{ props.row.id }}
        </b-table-column>
        <b-table-column
          field="steamid_64"
          label="Player"
        >
          <a :href="'#'+props.row.steamid_64">{{ props.row.player_name }}</a>
        </b-table-column>
        <b-table-column
          field="map"
          label="Map"
        >
          {{ props.row.map }}
        </b-table-column>
        <b-table-column
          field="mode"
          label="Mode"
        >
          {{ props.row.mode === 0 ? 'Vanilla' : props.row.mode === 1 ? 'SimpleKZ' : 'KZTimer' }}
        </b-table-column>
        <b-table-column
          field="course"
          label="Course"
        >
          {{ props.row.course }}
        </b-table-column>
        <b-table-column
          field="time"
          label="Time"
        >
          {{ props.row.time }}
        </b-table-column>
        <b-table-column
          field="teleports"
          label="Teleports"
        >
          {{ props.row.teleports }}
        </b-table-column>
        <b-table-column
          field="created"
          label="Created"
        >
          {{ formatDate(props.row.created) }}
        </b-table-column>
        <b-table-column
          field="id"
          label="Watch"
        >
          <button class="button is-link">
            Replay
          </button>
        </b-table-column>
      </template>

      <template
        slot="detail"
        slot-scope="props"
      >
        <div>
          <replay-viewer :replay-id="props.row.id" />
        </div>
      </template>
    </b-table>
  </section>
</template>

<script lang="ts">
import Vue from 'vue';
// eslint-disable-next-line no-unused-vars
import axios from '@nuxtjs/axios';
import { formatRelative } from 'date-fns';
import ReplayViewer from '@/components/ReplayViewer.vue';

export default Vue.extend({
  head: {
    title: 'Records'
  },
  components: {
    ReplayViewer
  },
  data () {
    return {
      records: [],
      page: 1,
      perPage: 15,
      total: -1,
      loading: false,
      activeRow: undefined,
      maps: [] as string[],
      modes: {
        'kztimer': 'KZTimer',
        'simplekz': 'SimpleKZ',
        'vanilla': 'Vanilla'
      },
      runtypes: ['TP', 'PRO'],
      map: '',
      mode: '',
      steamid64: '',
      runtype: ''
    };
  },
  asyncData ({ route }) {
    const params = route.query;
    return {
      map: params.map ? params.map : '',
      mode: params.mode ? params.mode : '',
      runtype: params.runtype ? params.runtype : '',
      steamid64: params.steamid64 ? params.steamid64 : ''
    };
  },
  mounted () {
    this.loadRecords();
    this.loadMapList();
  },
  methods: {
    onPageChanged (page: number) {
      this.page = page;
      this.loadRecords();
    },
    async loadRecords (searchId: boolean = false) {
      this.loading = true;
      try {
        let url = `//ruto.sh/api/pixel/?limit=${this.perPage}&offset=${this.perPage * (this.page - 1)}`;
        const queries = {} as any;
        if (this.map !== '') {
          url += `&map=${this.map}`;
          queries.map = this.map;
        }
        if (this.mode !== '') {
          url += `&mode=${this.mode}`;
          queries.mode = this.mode;
        }
        if (this.runtype !== '') {
          const hasTeleports = this.runtype === 'TP' ? 'true' : 'false';
          url += `&has_teleports=${hasTeleports}`;
          queries.runtype = this.runtype;
        }
        if (this.steamid64 !== '' && searchId) {
          url += `&steamid64=${this.steamid64}`;
          queries.steamid64 = this.steamid64;
        }
        this.$router.replace({ query: queries });
        const result = await this.$axios.$get(url);
        this.total = result.total;
        this.records = result.records;
      } finally {
        this.loading = false;
      }
    },
    async loadMapList () {
      try {
        const url = '//ruto.sh/api/pixel/maps';
        const result = await this.$axios.$get(url);
        this.maps = Object.keys(result);
      } catch {

      }
    },
    formatDate (date) {
      return formatRelative(Date.parse(date), new Date());
    },
    toggleRow (row) {
      if (this.activeRow !== undefined && this.activeRow !== row) {
        (this.$refs as any).recordTable.toggleDetails(this.activeRow);
      }
      (this.$refs as any).recordTable.toggleDetails(row);
      this.activeRow = row;
    },
    watchReplay (recordId: number) {
      const replayUrl = `//ruto.sh/api/pixel/replay/${recordId}`;
      // console.log(replayUrl);
    }
  }
});
</script>
